<%- include('partials/header') -%>
<h1>All Books</h1>
<% books.forEach(elem => { %>
    <img src="<%= elem.thumb_url %>" class="book-thumb-img img-responsive">
    <a href="books/<%= elem.id%>"><p><%= elem.title%></p></a>
    
    <p>Author: <%= elem.author%></p>
    <% if(elem.hasOwnProperty('language')) { %>

    <p><%= `Language: ${elem.language}`%></p>
    <% } %>
    
    <% if(elem.hasOwnProperty('publisher')) { %>
    <p><%= `Publisher: ${elem.publisher}`%></p>
    <% }%>

    <% })%>
<%- include('partials/footer') -%>