<%- include('partials/header') -%>
<h1>All Books</h1>
<% books.forEach(elem => { %>
    <div class="grid-col-2 book-cont">
        <div>
            <img src="<%= elem.thumb_url %>" class="book-thumb-img img-responsive">
        </div>
        <div>
            <a href="books/<%= elem.id%>"><h2><%= elem.title%></h2></a>
            <p>Author: <%= elem.author%></p>
        </div>
    </div>
    <% })%>
<%- include('partials/footer') -%>