<%- include('partials/header') -%>
<div class="grid-col-2 book-cont">
    <div>
        <img src="<%= book.thumb_url %>" class="book-thumb-img img-responsive">
    </div>
    <div>
        <h2><%= book.title%></h2>
        <p>Author: <%= book.author%></p>
        <p><%= `Language: ${book.language}`%></p>
        <p><%= `Publisher: ${book.publisher}`%></p>
    </div>
</div>
<div class="grid-col-3">
    <a href='/books'>Back</a>
    <a href='/books/<%= book.id %>/delete'>Delete</a> 
    <a href='/books/<%= book.id %>/edit'>Edit</a>
</div>
<%- include('partials/footer') -%>